.about {
    margin-top: 40px;
    position: relative;
}

.about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 25%;
}

.about-text h1 {
    font-size: 50px;
    width: 500px;
    text-align: center;
    margin-left: 100px;
}

.about-text p {
    font-size: 18px;
    width: 650px;
    text-align: center;
    margin-left: 100px  ;
}

.about-text button {
    width: 250px;
    height: 40px;
    font-size: 20px;
    border: 1px solid #ddd;
    margin-left: 110px;
    border-radius: 10px;
    background: white;
    transition: all 0.3s ease;
    cursor: pointer;
}

.about-text button:hover {
    border: 1px solid #ddd;
    background: rgb(242, 237, 237);

}


.about-text button:active {
    border: 1px solid #ddd;
    background: white;

}

.about img  {
    position: absolute;
    top: 20%;
}

.about img:nth-child(2) {
    top: -50%;
    left: 5%;
}

.about img:nth-child(3) {
    top: -90%;
    left: 42%;
}

.about img:nth-child(4) {
    top: -30%;
    left: 74%;
}

.about img:nth-child(5) {
    top: 25%;
    left: 86%;  
}

.about img:nth-child(6) {
    width: 300px;
    top: 92%;
    left: 66%;  
}




/* about media */

@media (max-width:1592px) {
    .about img:nth-child(1) {
        width: 100px;
        top: 100%;
    }
    .about img:nth-child(2) {
        width: 100px;
        left: 0%;
        top: 35%;
    }
    .about img:nth-child(3) {
        width: 280px;
        left: 7%;
        top: -65%;
    }
    .about img:nth-child(4) {
        top: -40%;
        left: 84%;
    }
    .about img:nth-child(5) {
        width: 100px;
        left: 92%;
    }
    .about img:nth-child(6) {
        top: 100%;
        left: 75%;
    }

    .about-text {
        margin-left: -100px;
    }
  
}