.footer {
    background: #384353;
    padding: 50px;
}

footer {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr; 
    gap: 100px;

}

.footer-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
}

.footer-text a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.footer-text a:hover {
    color: rgb(204, 198, 198);
}
.footer-text a:active {
    color: white;
}


.footer-img {
    margin-top: 150px;
}

.footer-title {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    gap: 30px;
    text-align: center;
    color: white;
}

.footer-title p {
    border:  1px solid white;
    width: 100%;
}




/* footer media */


@media (max-width:1592px) {
    .footer-img img {
        width: 95%;
        margin-left: 50px;
    }
}

@media (max-width:492px) {
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 150px;
    }
}