.lookbook {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 100px 150px;
    width: 100%;
    background: #384353;
}

.lookbook-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lookbook-text h1 {
    text-align: center;
    font-size: 50px;
    color: white;
    margin-top: 50px;
}


.lookbook-text p {
    text-align: center;
    color: #DFDEDB;
    margin-top: 300px;
    width: 470px;
}

.lookbook-title {
    margin-left: 220px;
}

.item {
    display: flex;
    gap: 420px;
    color: white;
}

.lookbook-img {
    width: 580px;
    background: #ddd;
    margin-top: 50px;
    height: 600px;
}

.lookbook-img img {
    padding: 18px;
}

.lookbook-img-text {
    display: flex;
    margin-left: 25px;
    gap: 330px;
    color: #323334;
}

.materials {
    display: flex;
    gap: 200px;
    margin-top: 30px;
    color: white;
}


/* lookbook media */


@media (max-width:1592px) {
    .lookbook {
        display: grid;
        grid-template-columns: 1fr;
    }

    
    .lookbook-text p {
            width: 400px;
            margin-left: 70px;
    }

    .item {
        margin-top: 50px;
    }
    
}